.fullHeight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Ajuste conforme necessário */
    text-align: center; /* Centraliza o texto horizontalmente */
  }
  